:root {
  --main-bg-color: #ffffff;
  --text-color: #0c0b0a;
  --primary-color: #7d6167;
  --primary-hover-color: #5c4348;
  --button-padding: 10px 15px;
  --box-shadow-color: rgba(0, 0, 0, 0.2);
  --button-hover-shadow-color: rgba(0, 0, 0, 0.3);
  --border-radius: 10px;
  --basic-font-size: 16px;
}

* {
  font-family: "Afacad Flux", sans-serif !important;
  font-size: var(--basic-font-size);
}

body {
  margin: 0;
  padding: 0;
  font-family: "Afacad Flux", sans-serif;
}

.Landing-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Navbar Styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--main-bg-color);
  padding: 10px;
  color: var(--text-color);
}

.navbar-brand a {
  font-size: 24px;
  font-weight: bold;
  color: var(--text-color);
  text-decoration: none;
}

.hamburger {
  display: none;
  flex-direction: column;
  gap: 5px;
  background: none;
  border: none;
  cursor: pointer;
}

.hamburger-line {
  width: 25px;
  height: 3px;
  background-color: var(--text-color);
}

.navbar-links {
  list-style: none;
  display: flex;
}

.navbar-links li {
  margin-left: 20px;
  margin-right: 20px;
}

.navbar-links a {
  color: var(--text-color);
  text-decoration: none;
  font-size: 18px;
  transition: text-decoration 0.2s ease;
}

.navbar-links a:hover {
  text-decoration: underline;
}

.navbar-links button {
  font-family: "Afacad Flux", sans-serif;
  color: var(--text-color);
  border: none;
  background-color: transparent;
  text-decoration: none;
  font-size: 18px;
  transition: text-decoration 0.2s ease;
  cursor: pointer;
}

.navbar-links button:hover {
  text-decoration: underline;
}

.navbar-balance {
  font-size: 18px;
  border-radius: 10px;
  padding-left: 5px;
  padding-right: 5px;
}

/* Navbar Responsive styles */
@media (max-width: 768px) {
  .hamburger {
    display: flex;
  }

  .navbar-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 10px;
    background-color: var(--main-bg-color);
    box-shadow: 0 4px 8px var(--box-shadow-color);
    border-radius: 8px;
    padding: 1rem;
    z-index: 2;
  }

  .navbar-links li {
    padding-top: 10px;
  }

  .navbar-links.open {
    display: flex;
  }

  .navbar-balance {
    padding: 0;
  }

  .navbar-links button {
    padding: 0;
  }
}

.btn {
  background-color: var(--primary-color);
  padding: var(--button-padding);
  border-radius: var(--border-radius);
  color: white;
  text-decoration: none;
  transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.2s ease;
  box-shadow: 0 4px 8px var(--box-shadow-color);
}

.btn:hover {
  background-color: var(--primary-hover-color);
  transform: translateY(-3px);
  box-shadow: 0 8px 16px var(--button-hover-shadow-color);
}

/* Hero Section Styles */
.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./images/catheader.jpg');
  background-size: cover;
  background-position: center;
  color: #ffffff;
  height: 95vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.hero-content {
  max-width: 600px;
}

h1 {
  font-size: 60px;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
}

p {
  font-size: 20px;
}

/* Footer Styles */
.footer {
  background-color: var(--main-bg-color);
  color: var(--text-color);
  text-align: center;
  position: relative;
}

/* Task page styles */
.task-content {
  width: 100%;
  max-width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  position: relative;
}

.task-content h1 {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
  display: block;
  text-shadow: none;
}

.add-task-btn {
  border: none;
  background-color: transparent;
}

.add-task-btn:hover {
  cursor: pointer;
}

.task-content input,
select {
  color: var(--text-color);
  border-radius: var(--border-radius);
  box-shadow: 0 .4rem .4rem #ddd;
  padding: 10px;
  text-align: left;
  border: 1px solid #ddd;
  background-color: var(--main-bg-color);
  width: 100%;
  box-sizing: border-box;
}

.task-change-status-btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.task-change-status-btn:hover {
  cursor: pointer;
}

.form-container {
  width: 80%;
  max-width: 800px;
  margin-top: 20px;
}

.form-row {
  display: grid;
  grid-template-columns: auto 1fr 1fr auto;
  align-items: center;
  width: 100%;
  gap: 5px;
}

/* Table Styles */
table {
  width: 80%;
  max-width: 800px;
  border-collapse: separate;
  border-spacing: 0;
  border: 5px solid transparent;
  border-radius: var(--border-radius);
  margin: 20px 0;
  background-color: var(--primary-color);
  padding: 10px;
  box-sizing: border-box;
  backdrop-filter: blur(7px);
  box-shadow: 0 .4rem .8rem #0005;
  overflow-x: auto;
}

th, td {
  padding: 12px;
  text-align: left;
  border: 1px solid #ddd;
  background-color: var(--main-bg-color);
}

th {
  background-color: #f4f4f4;
}

th:hover {
  cursor: pointer;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

/* Responsive Table */
@media (max-width: 600px) {
  table, thead, tbody, th, td, tr {
    display: block;
  }

  thead tr {
    display: none;
  }

  tr {
    margin-bottom: 15px;
  }

  td {
    text-align: right;
    position: relative;
    padding-left: 50%;
  }

  td::before {
    content: attr(data-label);
    position: absolute;
    left: 10px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
    text-align: left;
  }
}

.shiny-background {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background: linear-gradient(135deg, #ffffff, #f0f0f0 50%, #ffffff);
  background-size: 400% 400%;
}

@keyframes shine {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Product card */
.product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 400px;
  padding: 70px;
  border: 1px solid #ddd;
  border-radius: var(--border-radius);
  text-align: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  margin: 20px;
  background-color: var(--main-bg-color);
}

.product-card:hover {
  box-shadow: 0 2px 8px rgba(125, 97, 103, 0.8);
}

.product-info {
  flex-grow: 2;
}

.product-image {
  width: 150px;
  height: 150px;
  overflow: hidden;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 10px;
  box-shadow: 0 2px 8px rgba(125, 97, 103, 0.8);
}

.owned-product-image {
  width: 100px;
  height: 100px;
  overflow: hidden;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 10px;
  box-shadow: 0 2px 8px rgba(125, 97, 103, 0.8);
}

.no-image {
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
}

.product-name {
  font-size: 18px;
  margin: 10px 0;
}

.product-description {
  font-size: var(--basic-font-size);
  color: #666;
  margin: 5px 0;
}

.product-price {
  font-size: 20px;
  color: #333;
  font-weight: bold;
}

.add-to-cart-btn {
  font-size: var(--basic-font-size);
  background-color: var(--primary-color);
  color: white;
  font-weight: 400;
  border: none;
  padding: var(--button-padding);
  cursor: pointer;
  border-radius: var(--border-radius);
  margin-top: 10px;
  transition: background-color 0.3s ease;
  width: 100%;
  box-shadow: 0 2px 8px rgba(125, 97, 103, 0.2);
}

.add-to-cart-btn:hover {
  background-color: var(--primary-hover-color);
}


.product-grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.reward-form-container {
  width: 80%;
  max-width: 600px;
  margin-top: 20px;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: var(--border-radius);
  box-shadow: 0 4px 8px var(--box-shadow-color);
}

.reward-form .form-row {
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;
  margin-bottom: 10px;
}

.input-group {
  position: relative;
  display: flex;
  align-items: center;
  font-size: var(--basic-font-size);
}

.input-group input, .input-group textarea {
  padding: 10px;
  padding-left: 35px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: var(--border-radius);
  box-sizing: border-box;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.input-group textarea {
  resize: vertical;
  min-height: 10px;
}

.input-icon {
  position: absolute;
  left: 10px;
  color: var(--primary-color);
  font-size: 20px;
}

.add-reward-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding: var(--button-padding);
  cursor: pointer;
  border-radius: var(--border-radius);
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 0 2px 8px rgba(125, 97, 103, 0.2);
  width: 100%;
  font-size: var(--basic-font-size);
}

.add-reward-btn:hover {
  background-color: var(--primary-hover-color);
  transform: translateY(-2px);
  box-shadow: 0 4px 12px rgba(125, 97, 103, 0.3);
}

.show-reward-form-btn {
  background-color: var(--primary-color);
  padding: var(--button-padding);
  border-radius: var(--border-radius);
  border: none;
  color: white;
  text-decoration: none;
  box-shadow: 0 4px 8px var(--box-shadow-color);
  font-size: var(--basic-font-size);
}

.show-reward-form-btn:hover {
  background-color: var(--primary-hover-color);
  box-shadow: 0 8px 16px var(--button-hover-shadow-color);
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: var(--border-radius);
  text-align: center;
}

/* Signin / Signup page */
.signup-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.signup-card {
  background-color: var(--main-bg-color);
  border: 1px solid #ddd;
  border-radius: var(--border-radius);
  padding: 30px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  width: 400px;
}

.signup-title {
  font-size: 28px;
  margin-bottom: 20px;
  color: #333;
  text-align: center;
}

.form-optional-texts {
  font-size: var(--basic-font-size);
  color: #666;
  margin-top: 20px;
}

.signup-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 20px;
}

label {
  font-size: 16px;
  color: #666;
  margin-bottom: 5px;
  display: block;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: var(--border-radius);
  font-size: var(--basic-font-size);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

.signup-btn {
  background-color: var(--primary-color);
  color: white;
  font-weight: 600;
  border: none;
  padding: var(--button-padding);
  cursor: pointer;
  border-radius: var(--border-radius);
  margin-top: 10px;
  transition: background-color 0.3s ease;
  width: 100%;
  box-shadow: 0 2px 8px rgba(125, 97, 103, 0.2);
}

.signup-btn:hover {
  background-color: var(--primary-hover-color);
}

.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: var(--main-bg-color);
  color: var(--text-color);
  text-align: center;
  border-radius: var(--border-radius);
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
  box-shadow: 0 4px 8px var(--box-shadow-color);
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.owned-product-card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 150px;
  padding: 20px;
  margin: 10px;
  border: 1px solid #ddd;
  border-radius: var(--border-radius);
  text-align: center;
  background-color: var(--main-bg-color);
}

.owned-product-card:hover {
  box-shadow: 0 2px 8px rgba(125, 97, 103, 0.8);
}

.owned-product-card .used-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(125, 97, 103, 0.7);
  border-radius: var(--border-radius);
  z-index: 1;
}

.owned-product-card .used-label {
  font-size: var(--basic-font-size);
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 4px 8px;
  border-radius: var(--border-radius);
  position: absolute;
  top: 8px;
  right: 8px;
  z-index: 3;
}

.mark-used-btn {
  margin-top: auto;
  background-color: var(--primary-color);
  color: white;
  padding: var(--button-padding);
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  text-decoration: none;
  box-shadow: 0 2px 8px rgba(125, 97, 103, 0.2);
}

.mark-used-btn:hover {
  background-color: var(--primary-hover-color);
  transform: scale(1.05);
}

.sort-dropdown {
  padding: 5px;
  border: 1px solid black;
  border-radius: var(--border-radius);
  cursor: pointer;
}

